@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.iphone-container {
  width: 393px;
  height: 852px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
}
.custom-title{
  font-size: 21px;
  font-weight: 700;
  color: black;
}
.custom-p-tag{
  font-weight: 300;
  font-size: 16px;
  color: #d9d9d9;
}
.custom-footer-padding{
  padding-bottom: 35px;
  padding-left: 60px;
  padding-right: 60px;
}
.custom-last-p-tag{
  font-weight: 300;
  color: #d5d6f2;
}
.modii-body{
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 51%;
  position: absolute;
  bottom: 0;
}
.modii-talk-body{
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
}
.modii{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F7F7FF;
}
.modii-dark{
  background-color: #353535;
}
.modii-room{
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}
.modii-content{
  padding: 24px 30px;
}
.modii-device-text{
  font-weight: 900;
  position: absolute;
  top: 11px;
  inset-inline-start: 15px;
}
.modii-device-image{
  position: absolute;
  z-index: 100;
}
.modii-device-status{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  column-gap: 17px;
  row-gap: 16px;
}
.modii-device-status-child{
  position: relative;
  width: 158px;
  height: 89px;
  color: black;
}
.image-circle{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  right: 10px;
  bottom: 10px;
}
.modii-create{
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.modii-create-header{
  font-weight: 900;
  color: black;
  background-color: white;
  width: 100%;
  height: 17%;
  top: 0;
  padding-top: 76px;
}
.favorites-body{
  padding-top: 10px;
  padding-left: 28px;
  padding-bottom: 10px;
  display: inline-flex;
  gap: 15px;
}
.circle-favorites{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #f8afc6;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.favorites-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.favorites-p-tag{
  font-size: 13px;
  font-weight: 400;
  color: white;
}
.favorites-create{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #55555a;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.favorites-create-p-tag{
  font-size: 13px;
  font-weight: 400;
  color: #d5d6f2;
}
.chat-body{
  position: relative;
  padding-left: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f7f7ff;
}
.chat-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.circle-chat {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-text {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}

.modii-name {
  font-size: 16px;
  font-weight: 900;
}

.message-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 185px;
}

.message {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #a9a9a9;
}

.time {
  position: absolute;
  bottom: 14px;
  inset-inline-end: 35px;
  font-size: 11px;
  color: #d9d9d9;
}